@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">I've Been Expecting You Super Hero Friends</h1>
        @*</div>
    <br />
<div class="text-center">*@
        <img  src="~/Images/Heimdall.jpg" alt="Heimdall" width="500" />
    </div>

